{% extends "encyclopedia/layout.html" %}


{% block title %}
    Create New Wiki
{% endblock %}

{% block body %}

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <table>

            <label for="title" style="display: block;">Wiki Title</label>
            <input type="text" name="title" placeholder="Enter a title">

                <label for="content" style="display: block;">Wiki Content</label>
                <textarea name="content" id="content" cols="5" rows="4" style="height:75vh; width: 75vw;" placeholder="Enter the content for your Wiki entry"></textarea>

                <input type="submit" style="display: block;"></table>
            </form>
        {% endblock %}
